name: Move2kube workflow container image and manifest push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'move2kube/**'
      - 'pipeline/**'
      - 'e2e/move2kube.sh'
      - .github/workflows/move2kube-e2e.yaml
      - .github/workflows/m2k-func.yaml
      - .github/workflows/main.yml

jobs:
  call-kfunc-workflow:
    uses: ./.github/workflows/m2k-func.yaml
    secrets: inherit
  call-main-workflow:
    uses: ./.github/workflows/main.yml
    with:
      workflow_id: move2kube
    secrets: inherit

