name: Move2kube workflow container image and manifest push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'move2kube/**'
      - 'pipeline/**'
      - 'e2e/move2kube.sh'
jobs:
  call-kfunc-workflow:
    uses: parodos-dev/serverless-workflows/.github/workflows/m2k-func.yml@main
    secrets: inherit
  call-main-workflow:
    uses: parodos-dev/serverless-workflows/.github/workflows/main.yml@main
    with:
      workflow_id: move2kube
    secrets: inherit

