name: MTA workflow container image and manifest push

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'mta/**'
      - 'pipeline/**'
      - .github/workflows/mta.yml
      - .github/workflows/main.yml

jobs:
  call-main-workflow:
    uses: ./.github/workflows/main.yml
    with:
      workflow_id: mta
    secrets: inherit

